# Specify filepatterns you want to assign special attributes.

*                               text=auto

.github/                        export-ignore
screenshots/                    export-ignore
src/                            export-ignore
example/						export-ignore

.gitattributes                  export-ignore
.gitignore                      export-ignore
CHANGES.md                      export-ignore
build.py                        export-ignore

*.sublime-color-scheme          linguist-language=JSON-with-Comments
